<!DOCTYPE html>
<html>
<head>
    <title>Snapshot</title>
    <link rel="stylesheet" href="css/snapshotStyle.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <img src="img/thoughtSnip.jpg" alt="Logo" id="logo">
         <h2>Snapshot</h2>
        <nav>
            <ul>
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/myprofile">My Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div id="chartContainer">
    <canvas id="myChart1" class="chart"></canvas>
    <canvas id="myChart2" class="chart"></canvas>
</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
$(document).ready(function () {
   
    const urlParams = new URLSearchParams(window.location.search);
    const logID = urlParams.get('logID');

    $.get('/getSnapshotData?logID=' + logID, function (data) {
        console.log(data);
        var ctx = document.getElementById('myChart1').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'polarArea',
            data: {
                labels: ['Enjoyment', 'Sadness', 'Anger', 'Contempt', 'Disgust', 'Fear', 'Surprise'],
                datasets: [{
                    data: data.map(item => item.EmotionScore), 
                    backgroundColor: ['#FFDC7B', '#74A8DA', '#F2736D', '#BD678A', '#A390C4', '#30B575', '#36AED7']
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: false,
                    }
                }
            }
        });
    }); 

  $.get('/getTriggerData?logID=' + logID)
        .done(function (data) {
            var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'polarArea',
                data: {
                    labels: ['Social', 'Activity', 'Family', 'Work', 'Sleep', 'Weather'],
                    datasets: [{
                        data: data.map(item => item.TriggerScore), 
                        backgroundColor: ['#f3929b', '#f5ac4e', '#f6f082', '#a3f9b6', '#9ad0f9', '#ECD4FF']
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false, 
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: false,
                        }
                    }
                }
            });

           
            let newButtonDiv = $("<div id='newButtonDiv'></div>");

           
            let newButtonTexts = ['Delete Log', 'Edit Emotions', 'Edit Trigger'];

           
            for (let i = 0; i < newButtonTexts.length; i++) {
                let newButton = $("<button class='btn'>" + newButtonTexts[i] + "</button>");
                newButtonDiv.append(newButton);

              
                newButton.click(function() {
                  if (i === 0) {
                       
                        $.ajax({
                            url: '/deleteData',
                            type: 'POST',
                            data: { logID: logID },
                            success: function(response) {
                                console.log(response);
                               
                                window.location.href = '/dashboard';
                            },
                            error: function(err) {
                                console.error(err);
                            }
                        });
                    } else if (i === 1) {
                        window.location.href = 'html/EditLog.html?logID=' + logID;
                    } else if (i === 2) {
                       window.location.href = 'html/EditTriggers.html?logID=' + logID;
                    }
                });
            }

           
            $("body").append(newButtonDiv);
        })
        .fail(function () {
         
            let buttonDiv = $("<div id='buttonDiv'></div>");

          
            let buttonTexts = ['Delete Log', 'Edit Emotions', 'Add Triggers'];

           
            for (let i = 0; i < buttonTexts.length; i++) {
                let button = $("<button class='btn'>" + buttonTexts[i] + "</button>");
                buttonDiv.append(button);

                
                button.click(function() {
                    if (i === 0) {
                      
                        $.ajax({
                            url: '/deleteData',
                            type: 'POST',
                            data: { logID: logID },
                            success: function(response) {
                                console.log(response);
                              
                                window.location.href = '/dashboard';
                            },
                            error: function(err) {
                                console.error(err);
                            }
                        });
                    } else if (i === 1) {
                        window.location.href = 'html/EditLog.html?logID=' + logID;
                    } else if (i === 2) {
                       window.location.href = 'html/triggers.html?logID=' + logID;
                    }
                });
            }

            
            $("body").append(buttonDiv);
        });
}); 
    </script>
</body>
</html>
